.pagina02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagemTopo {
    width: 1440px;
    height: 227px;
    position: relative;
    background-repeat: repeat;
    
}
.topoImagem > p {
    display: flex;
    padding-top: 130px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: center;
    height: 69px;
    width: 1440px;
    font-size: 40px;
    color:#FFFFFF;
    z-index: 1;
    position:absolute;
    background: rgba(0,0,0,0.6);
    word-wrap: break-word;
}
.perguntasQuizz {
    width: 759px;
}
.perguntasQuizz > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.perguntasQuizz > ul > li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.perguntasQuizz > ul > li > img {
    width: 330px;
    height: 175px;
}
.perguntasQuizz > ul > li > p {
    width: 330px;
    color: #000000;
    margin-bottom: 18px;
    word-wrap: break-word;
}
.tituloPergunta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 710px;
    height: 137px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.opacidade {
    width: 759px;
    background: rgba(0,0,0,0.8);
    z-index: 2;
}