.pagina02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagemTopo {
    width: 1440px;
    height: 227px;
    position: relative;
    background-repeat: repeat;
    
}
.topoImagem > p {
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    align-items: center;
    justify-content: center;
    height: 69px;
    width: 1440px;
    font-size: 40px;
    color:#FFFFFF;
    z-index: 1;
    position:absolute;
    background: rgba(0,0,0,0.6);
}
.perguntasQuizz {
    width: 759px;
}
.perguntasQuizz > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.perguntasQuizz > div > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.perguntasQuizz > div > div > img {
    width: 330px;
    height: 175px;
}
.perguntasQuizz > div > div > p {
    width: 330px;
    color: #000000;
    margin-bottom: 18px;
    word-wrap: break-word;
}
.tituloPergunta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 710px;
    height: 137px;
    color: #FFFFFF;
    margin-bottom: 40px;
}